# OS
.DS_STORE
#  terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
secrets.auto.tfvars
# editors
.vscode/
.idea
*.iml
# envs
.env
venv/
env/
# built items
api-test/tester
**/coverage.out
node_modules
# structurizr
.structurizr
docs/architecture/dsl/**/workspace.json
# caches
.cache
.gocache
