name: "[Job] Docker Build, Scan and Push to ECR"

on:
  workflow_call:
    inputs:
      docker_tag:
        description: "Tag for docker image"
        required: true
        type: string
      checkout_tag:
        description: "Ref or tag to checkout"
        default: ${{ github.ref }}
        required: false
        type: string

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: write
  security-events: write
  pull-requests: read

jobs:
  docker_build_scan_push:
    strategy:
      matrix:
        include:
          - ecr_repository: lpa-store/lambda/api-create
            container: lambda-create
          - ecr_repository: lpa-store/lambda/api-get
            container: lambda-get
          - ecr_repository: lpa-store/lambda/api-getstatic
            container: lambda-getstatic
          - ecr_repository: lpa-store/lambda/api-update
            container: lambda-update
          - ecr_repository: lpa-store/lambda/api-getlist
            container: lambda-getlist
          - ecr_repository: lpa-store/lambda/api-getupdates
            container: lambda-getupdates
          - ecr_repository: lpa-store/fixtures
            container: fixtures
    runs-on: ubuntu-latest
    name: ${{ matrix.ecr_repository }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.checkout_tag }}

      - name: Build ${{ matrix.ecr_repository }} Image
        id: build_image
        run: |
          docker compose build ${{ matrix.container }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ vars.OIDC_MANAGEMENT_ECR_ROLE }}
          role-duration-seconds: 3600
          role-session-name: OIDCLPAStoreManagementECRGitHubAction
      - name: ECR Login
        id: login_ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          mask-password: true
          registries: 311462405659

      - name: Trivy Image Vulnerability Scanner for ${{ matrix.ecr_repository }}
        id: trivy_scan
        env:
          TRIVY_DB_REPOSITORY: ${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-db:2
          TRIVY_JAVA_DB_REPOSITORY: ${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-java-db:1
          DOCKER_USERNAME: ${{ steps.login_ecr.outputs.docker_username_311462405659_dkr_ecr_eu_west_1_amazonaws_com }}
          DOCKER_PASSWORD: ${{ steps.login_ecr.outputs.docker_password_311462405659_dkr_ecr_eu_west_1_amazonaws_com }}
        run: |
          make scan IMAGE_NAME=${{ matrix.ecr_repository }}
      - name: Upload Trivy scan results to GitHub Security tab for ${{ matrix.ecr_repository }}
        id: trivy_upload_sarif
        uses: github/codeql-action/upload-sarif@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # v4.32.0
        if: always()
        with:
          sarif_file: "test-results/"

      - name: Push ${{ matrix.ecr_repository }} Image to ECR
        env:
          ECR_REGISTRY: ${{ steps.login_ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ matrix.ecr_repository }}
          DOCKER_TAG: ${{ inputs.docker_tag }}
        run: |
          docker tag ${{ matrix.ecr_repository }}:latest $ECR_REGISTRY/$ECR_REPOSITORY:$DOCKER_TAG
          if ${{ github.workflow == 'Main pipeline Workflow' }}; then
            docker tag ${{ matrix.ecr_repository }}:latest $ECR_REGISTRY/$ECR_REPOSITORY:latest
            docker tag ${{ matrix.ecr_repository }}:latest $ECR_REGISTRY/$ECR_REPOSITORY:main-$DOCKER_TAG
          fi
          docker push --all-tags $ECR_REGISTRY/$ECR_REPOSITORY
