name: "[Job] Test environment"

on:
  workflow_call:
    inputs:
      base_url:
        description: "Base URL of API"
        required: true
        type: string
    secrets:
      jwt_secret_key:
        description: "JWT signing key for dev environments"
        required: true

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: write
  security-events: write
  pull-requests: read

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: "0"
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.26"
      - uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # 1.0.8
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ vars.OIDC_DEVELOPMENT_TEST_RUNNER_ROLE }}
          role-duration-seconds: 3600
          role-session-name: oidc-lpa-store-development-test-runner-github-action
      - name: Run test suite
        env:
          URL: ${{ inputs.base_url }}
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
        run: make test-api
