name: "[Job] Test environment"

on:
  workflow_call:
    inputs:
      base_url:
        description: "Base URL of API"
        required: true
        type: string
    secrets:
      jwt_secret_key:
        description: "JWT signing key for dev environments"
        required: true

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: write
  security-events: write
  pull-requests: read

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: "0"
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25"
      - uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # 1.0.8
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::493907465011:role/oidc-lpa-store-development-test-runner
          role-duration-seconds: 3600
          role-session-name: oidc-lpa-store-development-test-runner-github-action
      - name: Run test suite
        env:
          URL: ${{ inputs.base_url }}
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
        run: make test-api
