name: "[Job] Generate tag"

on:
  workflow_call:
    outputs:
      tag:
        description: "Semver tag of this commit/deployment"
        value: ${{ jobs.generate_tag.outputs.tag }}

jobs:
  generate_tag:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.semver_tag.outputs.tag }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: "0"
      - name: Bump version
        id: semver_tag
        uses: ministryofjustice/opg-github-actions/actions/semver@82323da6c533ab565c1652a590230ff2f0acc942 # v4.3.8
        with:
          create_release: false
          default_bump: ${{ github.event_name == 'workflow_dispatch' && 'none' || 'minor' }}
          prerelease: ${{ github.ref_name == 'main' && 'false' || 'true' }}
