name: "[Job] Go test"

on:
  workflow_call:
    inputs:
      docker_tag:
        description: "Tag for docker image"
        required: true
        type: string
      checkout_tag:
        description: "Ref or tag to checkout"
        default: ${{ github.ref }}
        required: false
        type: string
    secrets:
      aws_access_key_id:
        description: "AWS Access Key ID"
        required: true
      aws_secret_access_key:
        description: "AWS Secret Access Key"
        required: true

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: write
  security-events: write
  pull-requests: read

jobs:
  go_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ inputs.checkout_tag }}

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '^1.23'

      - name: Run tests
        run: |
          make test
