name: Pact Provider Verification

on:
  repository_dispatch:
    types: [provider-verification]
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Provider verification
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: make build up
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 'stable'
      - run: echo "JWT=$(go run scripts/make_jwt.go)" >> "$GITHUB_ENV"
      - name: Verify specified Pact
        if: ${{ github.event_name == 'repository_dispatch' }}
        run: |
          docker compose run --rm pact-verifier \
            --header="X-Jwt-Authorization=Bearer $JWT" \
            --provider-version=$(git rev-parse HEAD) \
            --provider-branch=main \
            --publish \
            --user=admin \
            --password=${{ secrets.PACT_BROKER_PASSWORD }} \
            --filter-consumer=${{ github.event.client_payload.pact_consumer_name }} \
            --consumer-version-selectors='{"branch":"${{ github.event.client_payload.pact_consumer_branch }}"}'
      - name: Verify pacts, including pending
        if: ${{ github.event_name == 'push' }}
        run: |
          docker compose run --rm pact-verifier \
            --header="X-Jwt-Authorization=Bearer $JWT" \
            --provider-version=$(git rev-parse HEAD) \
            --provider-branch=main \
            --publish \
            --user=admin \
            --password=${{ secrets.PACT_BROKER_PASSWORD }} \
            --consumer-version-selectors='{"mainBranch": true}' \
            --enable-pending
      - name: Verify pacts are still upheld
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          docker compose run --rm pact-verifier \
            --header="X-Jwt-Authorization=Bearer $JWT" \
            --provider-version=$(git rev-parse HEAD) \
            --provider-branch=$GITHUB_HEAD_REF \
            --consumer-version-selectors='{"mainBranch": true}'
