name: Pact Provider Verification

on:
  repository_dispatch:
    types: [provider-verification]
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Provider verification
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: make build up
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 'stable'
      - run: echo "JWT=$(go run scripts/make_jwt.go)" >> "$GITHUB_ENV"
      - name: Verify specified Pact
        if: ${{ github.event_name == 'repository_dispatch' }}
        run: |
          docker compose run --rm pact-verifier \
            --header="X-Jwt-Authorization=Bearer $JWT" \
            --provider-version=$(git rev-parse HEAD) \
            --provider-branch=main \
            --publish \
            --user=admin \
            --password=${{ secrets.PACT_BROKER_PASSWORD }} \
            --filter-consumer=${{ github.event.client_payload.pact_consumer_name }} \
            --consumer-version-selectors='{"branch":"${{ github.event.client_payload.pact_consumer_branch }}"}'
      - name: Verify pacts, including pending
        if: ${{ github.event_name == 'push' }}
        run: |
          docker compose run --rm pact-verifier \
            --header="X-Jwt-Authorization=Bearer $JWT" \
            --provider-version=$(git rev-parse HEAD) \
            --provider-branch=main \
            --publish \
            --user=admin \
            --password=${{ secrets.PACT_BROKER_PASSWORD }} \
            --consumer-version-selectors='{"mainBranch": true}' \
            --enable-pending
      - name: Verify pacts are still upheld
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          docker compose run --rm pact-verifier \
            --header="X-Jwt-Authorization=Bearer $JWT" \
            --provider-version=$(git rev-parse HEAD) \
            --provider-branch=${{ github.head_ref }} \
            --consumer-version-selectors='{"mainBranch": true}'
