name: PR Workflow

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  generate-tag:
    name: Generate tag
    uses: ./.github/workflows/generate-tag.yml

  generate-environment-workspace-name:
    runs-on: ubuntu-latest
    steps:
      - name: Generate workspace name
        id: name_workspace
        run: |
          workspace=${{ github.event.number }}$GITHUB_HEAD_REF
          workspace=${workspace//-}
          workspace=${workspace//_}
          workspace=${workspace//\/}
          workspace=${workspace:0:11}
          workspace=$(echo ${workspace} | tr '[:upper:]' '[:lower:]')
          echo "name=${workspace}" >> $GITHUB_OUTPUT
          echo ${workspace}
    outputs:
      environment_workspace_name: ${{ steps.name_workspace.outputs.name }}

  static-analysis:
    name: Run static analysis checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: "0"
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.25"
      - run: make go-lint
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # v4.32.0
        if: always()
        with:
          sarif_file: test-results/golangci-lint.sarif

  go-test:
    name: Go test
    uses: ./.github/workflows/go-test.yml

  build:
    name: Build, Scan & Push Images
    needs: [generate-tag, go-test]
    uses: ./.github/workflows/build-push-images.yml
    with:
      docker_tag: ${{ needs.generate-tag.outputs.tag }}

  plan-account:
    strategy:
      matrix:
        include:
          - workspace_name: development
            oidc_role: ${{ vars.OIDC_PULL_REQUEST_ROLE }}
            default_role: ${{ vars.DEVELOPMENT_ROLE }}
            management_role: ${{ vars.MANAGEMENT_ROLE }}
            shared_role: ${{ vars.SHARED_DEVELOPMENT_ROLE }}
          - workspace_name: preproduction
            oidc_role: ${{ vars.OIDC_PULL_REQUEST_ROLE }}
            default_role: ${{ vars.PREPRODUCTION_PULL_REQUEST_ROLE }}
            management_role: ${{ vars.MANAGEMENT_ROLE }}
            shared_role: ${{ vars.SHARED_DEVELOPMENT_ROLE }}
          - workspace_name: production
            oidc_role: ${{ vars.OIDC_PULL_REQUEST_ROLE }}
            default_role: ${{ vars.PRODUCTION_PULL_REQUEST_ROLE }}
            management_role: ${{ vars.MANAGEMENT_ROLE }}
            shared_role: ${{ vars.SHARED_DEVELOPMENT_ROLE }}
    name: "TF Plan Account: ${{ matrix.workspace_name }}"
    uses: ./.github/workflows/account-deploy.yml
    with:
      workspace_name: ${{ matrix.workspace_name }}
      oidc_role: ${{ matrix.oidc_role }}
      default_role: ${{ matrix.default_role }}
      management_role: ${{ matrix.management_role }}
      shared_role: ${{ matrix.shared_role }}

  plan-environment:
    strategy:
      matrix:
        include:
          - workspace_name: development
            oidc_role: ${{ vars.OIDC_PULL_REQUEST_ROLE }}
            default_role: ${{ vars.DEVELOPMENT_ROLE }}
            management_role: ${{ vars.MANAGEMENT_ROLE }}
            backup_role: ${{ vars.BACKUP_PULL_REQUEST_ROLE }}
          - workspace_name: preproduction
            oidc_role: ${{ vars.OIDC_PULL_REQUEST_ROLE }}
            default_role: ${{ vars.PREPRODUCTION_PULL_REQUEST_ROLE }}
            management_role: ${{ vars.MANAGEMENT_ROLE }}
            backup_role: ${{ vars.BACKUP_PULL_REQUEST_ROLE }}
          - workspace_name: production
            oidc_role: ${{ vars.OIDC_PULL_REQUEST_ROLE }}
            default_role: ${{ vars.PRODUCTION_PULL_REQUEST_ROLE }}
            management_role: ${{ vars.MANAGEMENT_ROLE }}
            backup_role: ${{ vars.BACKUP_PULL_REQUEST_ROLE }}
    name: "TF Plan Environment: ${{ matrix.workspace_name }}"
    needs: [generate-tag]
    uses: ./.github/workflows/env-deploy.yml
    with:
      workspace_name: ${{ matrix.workspace_name }}
      oidc_role: ${{ matrix.oidc_role }}
      default_role: ${{ matrix.default_role }}
      management_role: ${{ matrix.management_role }}
      backup_role: ${{ matrix.backup_role }}
      version_tag: ${{ needs.generate-tag.outputs.tag }}
    secrets:
      allowlist_deploy_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
      github_access_token: ${{ secrets.GITHUB_TOKEN }}

  deploy-pr-env:
    name: Deploy PR Environment
    needs:
      [
        build,
        static-analysis,
        generate-tag,
        generate-environment-workspace-name,
      ]
    uses: ./.github/workflows/env-deploy.yml
    with:
      workspace_name: ${{ needs.generate-environment-workspace-name.outputs.environment_workspace_name }}
      oidc_role: ${{ vars.OIDC_PULL_REQUEST_ROLE }}
      default_role: ${{ vars.DEVELOPMENT_ROLE }}
      management_role: ${{ vars.MANAGEMENT_ROLE }}
      backup_role: ${{ vars.BACKUP_MAIN_ROLE}}
      version_tag: ${{ needs.generate-tag.outputs.tag }}
      apply: true
    secrets:
      allowlist_deploy_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
      github_access_token: ${{ secrets.GITHUB_TOKEN }}

  test-pr-env:
    name: Test PR Environment
    needs: [deploy-pr-env]
    uses: ./.github/workflows/env-test.yml
    with:
      base_url: ${{ needs.deploy-pr-env.outputs.base_url }}
    secrets:
      jwt_secret_key: ${{ secrets.JWT_SECRET_KEY }}
