name: Main pipeline Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  generate-tag:
    name: Generate tag
    uses: ./.github/workflows/generate-tag.yml

  static-analysis:
    name: Run static analysis checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: "0"
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.25"
      - run: make go-lint
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@19b2f06db2b6f5108140aeb04014ef02b648f789 # v4.31.11
        if: always()
        with:
          sarif_file: test-results/golangci-lint.sarif

  go-test:
    name: Go test
    uses: ./.github/workflows/go-test.yml

  build:
    name: Build, Scan & Push Images
    needs: [generate-tag, go-test, static-analysis]
    uses: ./.github/workflows/build-push-images.yml
    with:
      docker_tag: ${{ needs.generate-tag.outputs.tag }}

  deploy-dev-account:
    name: TF Deploy Dev Account
    uses: ./.github/workflows/account-deploy.yml
    with:
      workspace_name: development
      oidc_role: ${{ vars.OIDC_MAIN_ROLE }}
      default_role: ${{ vars.DEVELOPMENT_ROLE }}
      management_role: ${{ vars.MANAGEMENT_ROLE }}
      shared_role: ${{ vars.SHARED_DEVELOPMENT_ROLE }}
      apply: true

  deploy-dev-env:
    name: Deploy Development Environment
    needs: [build, generate-tag]
    uses: ./.github/workflows/env-deploy.yml
    with:
      workspace_name: development
      oidc_role: ${{ vars.OIDC_MAIN_ROLE }}
      default_role: ${{ vars.DEVELOPMENT_ROLE }}
      management_role: ${{ vars.MANAGEMENT_ROLE }}
      backup_role: ${{ vars.BACKUP_MAIN_ROLE }}
      version_tag: ${{ needs.generate-tag.outputs.tag }}
      apply: true
    secrets:
      allowlist_deploy_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
      github_access_token: ${{ secrets.GITHUB_TOKEN }}

  test-dev-env:
    name: Test Development Environment
    needs: [deploy-dev-env]
    uses: ./.github/workflows/env-test.yml
    with:
      base_url: ${{ needs.deploy-dev-env.outputs.base_url }}
    secrets:
      jwt_secret_key: ${{ secrets.JWT_SECRET_KEY }}

  deploy-preproduction-account:
    needs: [test-dev-env]
    name: TF Deploy Preproduction Account
    uses: ./.github/workflows/account-deploy.yml
    with:
      workspace_name: preproduction
      oidc_role: ${{ vars.OIDC_MAIN_ROLE }}
      default_role: ${{ vars.PREPRODUCTION_MAIN_ROLE }}
      management_role: ${{ vars.MANAGEMENT_ROLE }}
      shared_role: ${{ vars.SHARED_DEVELOPMENT_ROLE }}
      apply: true

  deploy-preproduction-env:
    name: Deploy Preproduction Environment
    needs: [deploy-preproduction-account, generate-tag]
    uses: ./.github/workflows/env-deploy.yml
    with:
      workspace_name: preproduction
      oidc_role: ${{ vars.OIDC_MAIN_ROLE }}
      default_role: ${{ vars.PREPRODUCTION_MAIN_ROLE }}
      management_role: ${{ vars.MANAGEMENT_ROLE }}
      backup_role: ${{ vars.BACKUP_MAIN_ROLE }}
      version_tag: ${{ needs.generate-tag.outputs.tag }}
      apply: true
    secrets:
      allowlist_deploy_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
      github_access_token: ${{ secrets.GITHUB_TOKEN }}

  deploy-production-account:
    name: TF Deploy Production Account
    needs: [deploy-preproduction-env]
    uses: ./.github/workflows/account-deploy.yml
    with:
      workspace_name: production
      oidc_role: ${{ vars.OIDC_MAIN_ROLE }}
      default_role: ${{ vars.PRODUCTION_MAIN_ROLE }}
      management_role: ${{ vars.MANAGEMENT_ROLE }}
      shared_role: ${{ vars.SHARED_DEVELOPMENT_ROLE }}
      apply: true

  deploy-production-env:
    name: Deploy Production Environment
    needs: [deploy-production-account, generate-tag]
    uses: ./.github/workflows/env-deploy.yml
    with:
      workspace_name: production
      oidc_role: ${{ vars.OIDC_MAIN_ROLE }}
      default_role: ${{ vars.PRODUCTION_MAIN_ROLE }}
      management_role: ${{ vars.MANAGEMENT_ROLE }}
      backup_role: ${{ vars.BACKUP_MAIN_ROLE }}
      version_tag: ${{ needs.generate-tag.outputs.tag }}
      apply: true
    secrets:
      allowlist_deploy_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
      github_access_token: ${{ secrets.GITHUB_TOKEN }}

  deploy-demo-env:
    name: Deploy Demo Environment
    needs: [deploy-production-env, generate-tag]
    uses: ./.github/workflows/env-deploy.yml
    with:
      workspace_name: demo
      oidc_role: ${{ vars.OIDC_MAIN_ROLE }}
      default_role: ${{ vars.DEVELOPMENT_ROLE }}
      management_role: ${{ vars.MANAGEMENT_ROLE }}
      backup_role: ${{ vars.BACKUP_MAIN_ROLE }}
      version_tag: ${{ needs.generate-tag.outputs.tag }}
      apply: true
    secrets:
      allowlist_deploy_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
      github_access_token: ${{ secrets.GITHUB_TOKEN }}

  deploy-integration-env:
    name: Deploy Integration Environment
    needs: [deploy-production-env, generate-tag]
    uses: ./.github/workflows/env-deploy.yml
    with:
      workspace_name: integration
      oidc_role: ${{ vars.OIDC_MAIN_ROLE }}
      default_role: ${{ vars.DEVELOPMENT_ROLE }}
      management_role: ${{ vars.MANAGEMENT_ROLE }}
      backup_role: ${{ vars.BACKUP_MAIN_ROLE }}
      version_tag: ${{ needs.generate-tag.outputs.tag }}
      apply: true
    secrets:
      allowlist_deploy_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
      github_access_token: ${{ secrets.GITHUB_TOKEN }}
