name: Main pipeline Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  generate-tag:
    name: Generate tag
    uses: ./.github/workflows/generate-tag.yml

  build:
    name: Build, Scan & Push Images
    needs: [generate-tag]
    uses: ./.github/workflows/build-push-images.yml
    with:
      docker_tag: ${{ needs.generate-tag.outputs.tag }}
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  deploy-dev-account:
    name: TF Deploy Dev Account
    uses: ./.github/workflows/account-deploy.yml
    with:
      workspace_name: development
      apply: true
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  deploy-dev-env:
    name: Deploy Development Environment
    needs: [build, generate-tag]
    uses: ./.github/workflows/env-deploy.yml
    with:
      workspace_name: development
      version_tag: ${{ needs.generate-tag.outputs.tag }}
      apply: true
    secrets:
      allowlist_deploy_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      github_access_token: ${{ secrets.GITHUB_TOKEN }}

  test-dev-env:
    name: Test Development Environment
    needs: [deploy-dev-env]
    uses: ./.github/workflows/env-test.yml
    with:
      base_url: ${{ needs.deploy-dev-env.outputs.base_url }}
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  deploy-preproduction-account:
    needs: [test-dev-env]
    name: TF Deploy Preproduction Account
    uses: ./.github/workflows/account-deploy.yml
    with:
      workspace_name: preproduction
      apply: true
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  deploy-preproduction-env:
    name: Deploy Preproduction Environment
    needs: [deploy-preproduction-account, generate-tag]
    uses: ./.github/workflows/env-deploy.yml
    with:
      workspace_name: preproduction
      version_tag: ${{ needs.generate-tag.outputs.tag }}
      apply: true
    secrets:
      allowlist_deploy_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      github_access_token: ${{ secrets.GITHUB_TOKEN }}

  deploy-production-account:
    name: TF Deploy Production Account
    needs: [deploy-preproduction-env]
    uses: ./.github/workflows/account-deploy.yml
    with:
      workspace_name: production
      apply: true
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  deploy-production-env:
    name: Deploy Production Environment
    needs: [deploy-production-account, generate-tag]
    uses: ./.github/workflows/env-deploy.yml
    with:
      workspace_name: production
      version_tag: ${{ needs.generate-tag.outputs.tag }}
      apply: true
    secrets:
      allowlist_deploy_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      github_access_token: ${{ secrets.GITHUB_TOKEN }}

  deploy-demo-env:
    name: Deploy Demo Environment
    needs: [deploy-production-env, generate-tag]
    uses: ./.github/workflows/env-deploy.yml
    with:
      workspace_name: demo
      version_tag: ${{ needs.generate-tag.outputs.tag }}
      apply: true
    secrets:
      allowlist_deploy_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      github_access_token: ${{ secrets.GITHUB_TOKEN }}
